@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  list-style: none;
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 54px 34px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

[data-theme="morning-cloudy"],
[data-theme="morning-wind"],
[data-theme="morning-fog"] {
  --main-background-color: #5A8BAB;
  --main-accent-color: #AED5E4;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(90, 139, 171, 0.52) 0%, rgba(90, 139, 171, 0.23) 100%);
}

[data-theme="afternoon-cloudy"],
[data-theme="afternoon-wind"],
[data-theme="afternoon-fog"] {
  --main-background-color: #AC736A;
  --main-accent-color: #F6C8A4;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(172, 115, 106, 0.52) 0%, rgba(172, 115, 106, 0.23) 100%);
}

[data-theme="evening-cloudy"],
[data-theme="evening-wind"],
[data-theme="evening-fog"],
[data-theme="evening-clear"] {
  --main-background-color: #9090AC;
  --main-accent-color: #484A82;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(72, 74, 130, 0.52) 0%, rgba(72, 74, 130, 0.23) 100%);
}

[data-theme="morning-clear"] {
  --main-background-color: #9FDCA8;
  --main-accent-color: #71A78F;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(142, 202, 150, 0.52) 0%, rgba(142, 202, 150, 0.23) 100%);
}

[data-theme="afternoon-clear"] {
  --main-background-color: #FAE2BD;
  --main-accent-color: #EFAA82;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(250, 226, 189, 0.52) 0%, rgba(250, 226, 189, 0.23) 100%);
}

[data-theme="morning-rain"] {
  --main-background-color: #7FC3AE;
  --main-accent-color: #C9E8E0;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(127, 195, 174, 0.52) 0%, rgba(127, 195, 174, 0.23) 100%);
}

[data-theme="afternoon-rain"] {
  --main-background-color: #40666A;
  --main-accent-color: #C9E8E0;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(64, 102, 106, 0.52) 0%, rgba(64, 102, 106, 0.23) 100%);
}

[data-theme="evening-rain"] {
  --main-background-color: #615273;
  --main-accent-color: #C2B8FF;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(204, 218, 255, 0.52) 0%, rgba(204, 218, 255, 0.23) 100%);
}

[data-theme="morning-snow"] {
  --main-background-color: #99B8CC;
  --main-accent-color: #E4F1F9;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(153, 184, 204, 0.52) 0%, rgba(153, 184, 204, 0.23) 100%);
}

[data-theme="afternoon-snow"],
[data-theme="evening-snow"] {
  --main-background-color: #A7ACC4;
  --main-accent-color: #E2E2E3;
  --background-block-color: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(167, 172, 196, 0.52) 0%, rgba(167, 172, 196, 0.23) 100%);
}