/* homepage */
.homePage {}

/* main weather information */
.mainInformation {
    margin-bottom: 35px;
    width: 100%;
    height: auto;
    border-radius: 35px;
    background: var(--main-background-color);
    padding: 25px 55px 35px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainInformation__dayTitle {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainInformation__dayTitle-text {
    color: var(--main-accent-color);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mainInformation__conditions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.mainInformation__conditions svg {
    width: 95px;
    fill: var(--main-accent-color);
}

.mainInformation__conditions-temp {
    position: relative;
    color: var(--main-accent-color);
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 122px;
    height: 150px;
}

.mainInformation__conditions-temp::before {
    content: '';
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    top: 20px;
    right: -10px;
    border-radius: 100%;
    border: 4px solid var(--main-accent-color);
}

.mainInformation__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainInformation__description-title {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.mainInformation__description p {
    color: var(--main-accent-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mainInformation__description p:not(:last-child) {
    margin-bottom: 15px;
}

/* Hourly weather */
.hourlyWeather {
    margin-bottom: 35px;
    padding: 20px 20px;
    width: 100%;
    border-radius: 25px;
    background: var(--background-block-color);
    backdrop-filter: blur(21px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1px auto;
    row-gap: 20px;
}

.hourlyWeather__section {}

.hourlyWeather__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.hourlyWeather__item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hourlyWeather__item-time {
    margin-bottom: 4px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hourlyWeather__item-data {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.hourlyWeather__item-data svg {
    width: 16px;
}

.hourlyWeather__item-temp {
    position: relative;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 23px;
    width: 19px;
}

.hourlyWeather__item-temp::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    right: -6px;
    border-radius: 100%;
    border: 1px solid #FFF;
}

.hourlyWeather__line {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.50);
}


/* Days Weather */
.daysWeather {
    margin-bottom: 35px;
    padding: 20px 20px;
    width: 100%;
    border-radius: 25px;
    background: var(--background-block-color);
    backdrop-filter: blur(21px);
}

.daysWeather__title {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.daysWeather__title-text {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    opacity: 0.8;
}

.daysWeather__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
}

.daysWeather__item {
    padding: 7.5px 0;
    padding-right: 10px;
}

.daysWeather__item a {
    width: 100%;
    display: grid;
    grid-template-columns: 90px 60px 1fr;
    align-items: center;
}

.daysWeather__item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.daysWeather__item-day {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.daysWeather__item a svg {
    width: 20px;
}

.daysWeather__item-temps {
    width: auto;
    display: flex;
    align-items: center;
}

.daysWeather__item-humidity {
    position: relative;
    width: 90px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0.5;
    border-radius: 10px;
    margin: 0 20px;
}

.daysWeather__item-humidity::before {
    content: '';
    width: 39%;
    height: 4px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
}

.daysWeather__item-temp {
    position: relative;
    font-size: 18px;
    font-style: normal;
    color: #fff;
    font-weight: 500;
    line-height: normal;
}

.daysWeather__item-temp--min {
    opacity: 0.5;
}

.daysWeather__item-temp::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 6px;
    right: -8px;
    border-radius: 100%;
    border: 1px solid #FFF;
}